/*--------------------------------------------------------------------------------------------------------
                          w e b p a g e - 0 1
--------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 280px) and (max-width: 576px) {
  html,
  body {
    overflow-x: hidden;
  }
  /* --------------------
          banner section
  -----------------------------*/
  .banner {
    width: 334px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: 22px;
    border-radius: 10px;
    justify-content: center;
  }
  .banner-text {
    margin: auto;
    margin-left: 53px;
    margin-top: 30px;
    width: 228px;
    height: 66px;
  }
  .banner-heading {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
  }
  .banner-paragraph {
    text-align: center;
    height: 50px;
    white-space: no-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .banner-paragraph p {
  }
  .banner-btn {
    width: 161px;
    height: 40px;
    margin: 20px 30px;
  }
  .banner-btn a {
    font-weight: 400;
    font-size: 20px;
  }
  .banner-image {
    width: 233px;
    height: 245px;
  }
  /* --------------------
          aside section
  -----------------------------*/
  .aside-blog {
    margin-left: 35px;
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .aside-section {
    background-color: transparent;
  }
  .match-btn {
    border: none;
  }
  /* --------------------
          matches section
  -----------------------------*/
  .blogs {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  /* --------------------
          footer section
  -----------------------------*/
  footer {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #161616;
    opacity: 0.75;
    margin-top: 130px;
  }
  .footer-heading {
    font-weight: 600;
    font-size: 15px;
    padding: 0;
    margin-left: 150px;
  }
  footer hr {
    padding: 0;
    margin-left: 30px;
    margin-top: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 0;
    margin-left: 144px;
  }
  .footer-social-media {
    display: none;
  }
}
