/*--------------------------------------------------------------------------------------------------------
                          w e b p a g e - 0 1
--------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 280px) and (max-width: 576px) {
  /* --------------------
          banner section
  -----------------------------*/
  .banner {
    width: 334px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: 22px;
    border-radius: 10px;
    justify-content: center;
  }
  .banner-text {
    margin: auto;
    margin-left: 53px;
    margin-top: 30px;
    width: 228px;
    height: 66px;
  }
  .banner-heading {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
  }
  .banner-paragraph {
    text-align: center;
    height: 50px;
    overflow: hidden;
  }
  .banner-paragraph p {
    white-space: no-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .banner-btn {
    width: 161px;
    height: 40px;
    margin: 20px 30px;
  }
  .banner-btn a {
    font-weight: 400;
    font-size: 20px;
  }
  .banner-image {
    width: 233px;
    height: 245px;
  }

  /* --------------------
          aside section
  -----------------------------*/
  .aside-blog {
    margin-left: 35px;
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .aside-section{
    background-color: transparent;
  }
  .match-btn{
    border: none;
  }
  /* --------------------
          aside section
  -----------------------------*/
.blog-section{
    width: 353px;
height: 388px;
display: flex;
flex-direction: column;
margin-left: -30px;
}

  /* --------------------
          footer section
  -----------------------------*/
  footer{
    margin-top: 3084px;
    margin-left: 0;
    height: 412px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #161616;
    opacity: 0.75;
  }
  .footer-heading{
    font-weight: 600;
    font-size: 15px;
    padding-top: 25px;
    margin-left: 40%;
    padding: 0;
  }
  footer hr{
      margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 100px;
    text-align: center;
  }
  .footer-info p{
    margin-top: 10px;
  }
.footer-social-media{
    display: none;
}



















}
